@model EthioProductShoppingCenter.Models.ShoppingCart.ShoppingCartViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.5.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // Document.ready -> link up remove event handler
        $(".RemoveLink").click(function () {
            //$('#myModal').modal('show');

            // Get the id from the link
            var recordToDelete = $(this).attr("data-id");
            if (recordToDelete != '') {

                $.ajax({
                    url: '/ShoppingCart/RemoveFromCart',
                    data: { "id": recordToDelete },
                    method: 'post',
                    dataType: 'JSON',
                    success: function (response) {
                        // Successful requests get here
                        // Update the page elements
                        if (response.ItemCount == 0) {
                            $('#row-' + response.DeleteId).fadeOut('slow');
                        } else {
                            $('#item-count-' + response.DeleteId).text(response.ItemCount);
                        }
                        $('#cart-total').text(response.CartTotal);
                        $('#update-message').text(response.Message).css('color', 'red');
                        $('#cart-status').text(response.CartCount);
                    }
                });
            }
        });

    });

</script>
<h3>
    <em>Review</em> your cart:
</h3>
<div id="update-message" style="display:block">

</div>
<table class="table-striped table-responsive-sm" style="width:100%;">
    <tr>
        <th>
            Product Name
        </th>
        <th>
            Price (each)
        </th>
        <th>
            Quantity
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.CartItems)
    {
        <tr id="row-@item.ProductId">
            <td>
                @*@Html.ActionLink(item.tblProduct.ProductName, "Details", "Store", new { id = item.ProductId }, null)*@
                <a id="@item.ProductId" href="#">@item.tblProduct.ProductName</a>
            </td>
            <td>
                @item.tblProduct.Price
            </td>
            <td id="item-count-@item.ProductId">
                @item.Count
            </td>
            <td>
                <a href="#" class="RemoveLink" data-id="@item.ProductId">
                    Remove
                </a>
            </td>
        </tr>
    }
    <tr>
        <td>
            Total
        </td>
        <td>
        </td>
        <td>
        </td>
        <td id="cart-total">
            @Model.Amount
        </td>
    </tr>
</table>
@*<p class="button">
    @Html.ActionLink("Checkout>> ", "AddressAndPayment", "Checkout")
</p>*@
<div class="col-md-offset-2 col-md-10">
    <a id="btnPaypal" class="btn btn-default" href="../Payment/PaymantWithPayPal">
        <span><img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" alt="PayPal" /></span>
    </a>
</div>

